@page "/stack-page"

<PageTitle>Stack Page</PageTitle>

<PStackPageBarInit Title="Stack page">
</PStackPageBarInit>

<div class="pa-4">
    <a href="https://docs.masastack.com/blazor/labs/page-stack" target="_blank">
        Check out the documentation
    </a>
    for more information about the
    PageStack component.
</div>