@page "/"

<PageTitle>Counter</PageTitle>

<MContainer>
    <h1>Counter</h1>
    <p role="status">Current count: @currentCount</p>

    <MButton Depressed Color="blue darken-1" @onclick="IncrementCount" Width="260" Style="color:white;">Click me</MButton>
</MContainer>

@code {
    private int currentCount = 0;

    private void IncrementCount()
    {
        currentCount++;
    }
}
